<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="etutor.android.santosh" version="1.0.0">
  <name>Etutor</name>
  <description>Etutor - New Way To Learn</description>
  <author href="http://etutoredu.com" email="contact@etutoredu.com">Etutor Team</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>

  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0"/> 
  <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0"/>
 
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
  <icon src="icon.png"/>
  <platform name="android">
    <icon src="/icon.png" density="ldpi"/>
    <icon src="/icon.png" density="mdpi"/>
    <icon src="/icon.png" density="hdpi"/>
    <icon src="/icon.png" density="xhdpi"/>
    <icon src="/icon.png" density="xxhdpi"/>
    <icon src="/icon.png" density="xxxhdpi"/>
    <splash src="/icon.png" density="land-ldpi"/>
    <splash src="/icon.png" density="land-mdpi"/>
    <splash src="/icon.png" density="land-hdpi"/>
    <splash src="/icon.png" density="land-xhdpi"/>
    <splash src="/icon.png" density="land-xxhdpi"/>
    <splash src="/icon.png" density="land-xxxhdpi"/>
    <splash src="/icon.png" density="port-ldpi"/>
    <splash src="/icon.png" density="port-mdpi"/>
    <splash src="/icon.png" density="port-hdpi"/>
    <splash src="/icon.png" density="port-xhdpi"/>
    <splash src="/icon.png" density="port-xxhdpi"/>
    <splash src="/icon.png" density="port-xxxhdpi"/>
  </platform>
    
    <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
</feature>

  <access origin="*"/>
  <access origin="tel:*" launch-external="yes" />
  <access origin="mailto:*" launch-external="yes" />
  <access origin="https://etutoredu.com/send.php" />
  <access origin="https://etutoredu.com/" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
</widget>